@charset "UTF-8";

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Qwitcher+Grypen&family=Vujahday+Script&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Android;
    src: url('../fontes/idroid.otf') format('opentype');
}

/* VARIÁVEIS */

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;

}

/* CONFIGURAÇÕES GLOBAIS */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

/* CABEÇALHO */

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}

header h1 {
    color: white;
    font-family: var(--font-destaque);
    padding-bottom: 20px;
    font-size: 3em;
    text-shadow: 1px 1px 5px #00000059;
    font-weight: normal;
}

header p {
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 1px 1px 5px #00000059;
    margin-bottom: 30px;

}

/* NAVEGAÇÃO */

nav {
    background-color: var(--cor5);
    padding-bottom: 10px;
    box-shadow: 1px 1px 1px #00000069;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: var(--cor1);
    font-weight: bold;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    transition-duration: .5s;
}

/* PRINCIPAL */

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px #00000060;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--font-android);
    font-size: 2em;
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}

main p {
    text-indent: 30px;
    margin: 15px 0px;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding-left: 5px;
    font-size: 1.3em;
    font-weight: normal;
}

main img {
    width: 100%;
}

main a {
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor5);
    padding: 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main a::after {
    content: '\00A0\1F517';
}

strong {
    color: var(--cor4);
    font-weight: bold;
}

.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.24);
}

aside ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

aside h3 {
    background-color: var(--cor2);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


/* RODAPÉ */

footer {
    background-color: var(--cor5);
    color: white;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
    font-style: normal;
}

footer a:hover {
    text-decoration: underline;
}